@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-primary: #6366F1;
  --color-secondary: #1f2937;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
